<div class="jumbotron">
  <div class="container">
    <%= image_tag "top.jpg", size: '1000x500' %><br>
    <br>
    <h3>What is 【ごはん、飽きちゃいました。。。】？？</h3><br>
    <br>
    <h4>ストックしておいたペットフード、余ってしまった経験はありませんか？</h4><br>
    【ごはん、飽きちゃいました。。。】は、そんな飼い主の皆様が簡単にペットフードの譲渡・譲受ができるコミュニティサイトです。<br>
    未開封・賞味期限半年以上のフードであれば、フードの種類は問いません。<br>
    <br>
    【譲渡〜譲受の流れ】<br>
    余ったフードを譲渡募集投稿<br>
    ↓<br>
    必要としているユーザー様が募集投稿をみてボタンひとつで譲受申請　※出品者による、申請の承認待ち有り<br>
    ↓<br>
    出品者は承認後に表示される指定配送先（事務局）にフードを発送<br>
    ↓<br>
    事務局に納品されたフードを検品後、譲受申請されたユーザー様に発送<br>
    ↓<br>
    譲渡完了！<br>
    <br>
    ☆ユーザー様間の個人情報が関わる発送や品物の検品は事務局が行いますので、安心してやりとりしていただけます。<br>
    飼い主の皆様のご参加、心よりお待ちしております（＾＾）<br>
    <br>

    <% if user_signed_in? %>
    ☆ログインしています☆<br>
    <% else %>
      <%= link_to "新規登録", root_path %><br>
      <%= link_to "ログイン", root_path %><br>
      <%= link_to "ゲストログイン", homes_guest_sign_in_path, method: :post %><br>
    <% end %>

    <div>このサイトのロゴは <a href="https://www.designevo.com/jp/" title="無料オンラインロゴメーカー">DesignEvo</a> 様にて作成しました。</div>
 </div>
</div>